<div>
    {% load tags %}


    {% autoescape off %}
        {% draw_menu params %}
    {% endautoescape %}

     <style>
        body {
            background-color: #202020;
            color: #fff;
            font-size: 18px;
            font-family: sans-serif;
        }
        a {
            color: #fff;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
            color: gold
        }
         span {
            margin-left: 10px;
            opacity: .5
         }
    </style>
</div>